<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @mybook.book %>
</p>

<p>
  <strong>Author:</strong>
  <%= @mybook.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mybook.price %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @mybook.publisher %>
</p>

<p>
  <strong>Date:</strong>
  <%= @mybook.date %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @mybook.isbn %>
</p>

<%= link_to 'Edit', edit_mybook_path(@mybook) %> |
<%= link_to 'Back', mybooks_path %>
